body, html, #root {
  background-color: #f6f7ff;
  width: 100%;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cards_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  width: 60%;
  padding: 0;
}

.pagination a {
  display: block;
  border-radius: 50%;
  cursor: pointer;
  width: 38px;
  height: 38px;
  line-height: 38px;
  font-weight: bold;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.pagination a:hover {
  background-color: rgba(185, 179, 179, 0.12);
}

.paginationActive {
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: 50%;
}

.paginationDisabled {
  color: rgb(198, 197, 202);
}

.paginationDisabled a:hover {
  cursor: default;
  background-color: #f6f7ff !important;
}

.pagination_container{
  display: flex;
  align-items: center;
}

.perpage_container{
  margin-left: 15px;
}